* {
    box-sizing: border-box;
    /* https://fonts.google.com */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.headerl {
    width: 50%;
    float: left;
    background-color: #B15AA1;
    color: black;
    text-align: right;
}

.header2 {
    width: 50%;
    float: left;
    background-color: #B15AA1;
}

.header2 img {
    width: 35%;
    height: auto;
}

.headerr {
    width: 50%;
    float: right;
    background-color: #000000;
    color: #B15AA1;
}

.headerr img {
    width: 35%;
    height: auto;
}

img {
    width: 33%;
    height: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* columnas */

.column {
    flex: 50%;
    /*     padding: 0 4px; */
    padding: 5%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.column1 {
    width: 100%;
    float: left;
    padding: 100px;
    border: solid 1px white;
}

.column2 {
    width: 50%;
    float: left;
    padding: 100px;
    border: solid 1px white;
}


/* pagina suplente */

.column2 img {
    width: 50%;
    height: 50%;
    float: right;
}


/* ********************** */

.column3 {
    width: 33.33%;
    float: left;
    padding: 100px;
    border: solid 1px white;
}

.column4 {
    width: 25%;
    float: left;
    padding: 100px;
    border: solid 1px white;
}

.dic {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    flex: 50%;
    text-align: center;
}


/* menu */

html {
    scroll-behavior: smooth;
}

.navbar {
    overflow: hidden;
    background-color: violet;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
    /* Used in this example to enable scrolling */
}


/* section1 */

#section1 {
    background-color: black;
}


/* section2 */

#section2 {
    background-color: black;
}

@media only screen and (max-width: 750px) {
    .flex:not(#header) {
        display: block;
    }
    .column {
        width: 50%;
    }
    .dic {
        width: 50%;
    }
    img {
        width: 50%;
    }
}