* {
    box-sizing: border-box;
    /* https://fonts.google.com */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.relleno-lateral {
    padding-left: 9%;
    padding-right: 9%;
}

.relleno-columnas {
    padding-right: 20px;
}


/* encabezado */

.headerl {
    width: 50%;
    float: left;
    background-color: #B15AA1;
    color: black;
    text-align: right;
}

.header2 {
    width: 50%;
    float: left;
    background-color: #B15AA1;
}

.headerr {
    width: 50%;
    float: right;
    background-color: #000000;
    color: #B15AA1;
}


/* imagenes */

.headerr img {
    width: 35%;
    height: auto;
}

.header2 img {
    width: 35%;
    height: auto;
}

.column2 img {
    width: 50%;
    height: 50%;
    float: right;
}

.column img {
    width: 16%;
    margin-top: 8px;
    vertical-align: middle;
}

img {
    width: 33%;
    height: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* columnas */

.column {
    flex: 50%;
    padding: 5%;
}

.column h1 {
    color: azure;
    width: 19% !important;
}

.column4 {
    width: 25%;
    padding: 4% 7%;
    float: left;
}

.column1 {
    width: 100%;
    font-size: 1vw;
    padding: 4% 2% 0% 4%;
}

.column2 {
    width: 50%;
    padding: 4% 7%;
    float: left;
}


/* cosas que añado para el footer (iker) */


/* links */

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: white;
}


/* menu */

html {
    scroll-behavior: smooth;
}

.navbar {
    overflow: hidden;
    background-color: violet;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}


/* section1 */

#section1 {
    background-color: black;
}


/* section2 */

#section2 {
    background-color: black;
}


/* section3 */

#footer {
    background-color: #B15AA1;
    color: blanchedalmond;
    height: 25%;
}


/* try */


/* no lo borreis ok es bastante importante pd:falta configurarlo bastante , ya lo hago yo(Arnau) */

.nombre {
    width: 16.6%;
    float: left;
    text-align: center;
    color: azure;
    padding: 5px 5px 10px 5px;
}

.nombre img {
    width: 100%;
}


/* iframe */

iframe {
    width: 100%;
    height: 19vw;
}


/* no tocar (mediaquery) */

@media only screen and (max-width: 750px) {
    .column img {
        width: 49%;
    }
    .headerl {
        font-size: 2.8vw;
    }
    .headerr {
        font-size: 2.8vw;
    }
    .header2 img {
        width: 35%;
    }
    .headerr img {
        width: 53%;
    }
    .column img {
        width: 49%;
    }
    .column2 {
        width: 50%;
    }
    .column2 h1 {
        font-size: 4vw;
    }
    .column2 p {
        font-size: 4vw;
        display: block;
    }
    .column2 img {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 50vw;
    }
    .nombre {
        width: 49%;
        float: left;
        text-align: center;
        color: azure;
        /*         padding: 5px 5px 10px 5px; */
    }
    .nombre img {
        width: 100%;
    }
}